<!DOCTYPE html> 
{% load staticfiles %} 
<html lang="en">
   <head>
      <meta charset="UTF-8">
         <title>重置密码</title>
            <style> .out{   width: 500px;   height: 900px;   margin: 0 auto;   margin-top: 100px; } </style>
             </head> 
             <body>       
             <div class="out">     
             <h1>可以重新设置一个好记的新密码啦！</h1>
                  <form method="post" action="{% url 'modify' %}">
                         <P><span>新密码：</span><input type="password" name="newpwd1" placeholder="至少6位"></P>
                         <P><span>确认新密码：</span><input type="password" name="newpwd2" placeholder="至少6位"></P>       
                         {% csrf_token %}       
                         <input type="hidden" name="email" value="{{ email }}">       
                         <p><input type="submit" value="确认"></p>     
                   </form>     
                   <h1>{{ msg }}</h1>   
             </div>   
     </body> 
</html> 
